h1,
h2 {
    font-family: arial;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todotxt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #F2F276;
    /* border: 1px solid black; */
    margin-top: 20px;
    padding-bottom: 10px;
}